// Variables
$space-sm: 10px;
$space-xs: 5px;
$space-md: 30px;
$space-lg: 50px;
$space-xlg: 60px;
$space-xxlg: 110px;

$sizes: sm, xs, md, lg, xlg;

@mixin padding-horizontal($value) {
  padding-right: $value;
  padding-left: $value;
}

@mixin padding-vertical($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin margin-horizontal($value) {
  margin-right: $value;
  margin-left: $value;
}

@mixin margin-vertical($value) {
  margin-top: $value;
  margin-bottom: $value;
}

// End of @mixins

.padding-lg {
  padding: $space-lg;
}

.padding-md {
  padding: $space-md;
}

.padding-sm {
  padding: $space-sm;
}

.padding-xs {
  padding: $space-xs;
}

.padding-bottom-sm {
  padding-bottom: $space-sm;
}

.padding-bottom-xs {
  padding-bottom: $space-xs;
}

.padding-bottom-md {
  padding-bottom: $space-md;
}

.padding-bottom-lg {
  padding-bottom: $space-lg;
}

.padding-top-lg {
  padding-top: $space-lg;
}

.padding-top-md {
  padding-top: $space-md;
}

.padding-top-sm {
  padding-top: $space-sm;
}

.padding-left-md {
  padding-left: $space-md;
}

.padding-left-lg {
  padding-left: $space-lg;
}

.padding-left-sm {
  padding-left: $space-sm;
}

.padding-right-sm {
  padding-right: $space-sm;
}

.padding-right-md {
  padding-right: $space-md;
}

.padding-right-lg {
  padding-right: $space-lg;
}

.padding-right-xlg {
  padding-right: $space-xlg;
}

.padding-right-xxlg {
  padding-right: $space-xxlg;
}

.padding-left-xlg {
  padding-left: $space-xlg;
}

.padding-horizontal-xs {
  @include padding-horizontal($space-xs);
}

.padding-horizontal-sm {
  @include padding-horizontal($space-sm);
}

.padding-horizontal-md {
  @include padding-horizontal($space-md);
}

.padding-horizontal-lg {
  @include padding-horizontal($space-lg);
}

.padding-horizontal-xlg {
  @include padding-horizontal($space-xlg);
}

.padding-vertical-xs {
  @include padding-vertical($space-xs);
}

.padding-vertical-sm {
  @include padding-vertical($space-sm);
}

.padding-vertical-md {
  @include padding-vertical($space-md);
}

.padding-vertical-lg {
  @include padding-vertical($space-lg);
}

.margin-bottom-sm {
  margin-bottom: $space-sm;
}

.margin-bottom-xs {
  margin-bottom: $space-xs;
}

.margin-bottom-md {
  margin-bottom: $space-md;
}

.margin-bottom-lg {
  margin-bottom: $space-lg;
}

.margin-left-md {
  margin-left: $space-md;
}

.margin-right-sm {
  margin-right: $space-sm;
}

.margin-right-md {
  margin-right: $space-md;
}

.margin-right-lg {
  margin-right: $space-lg;
}

.margin-right-xs {
  margin-right: $space-xs;
}

.margin-left-sm {
  margin-left: $space-sm;
}

.margin-top-md {
  margin-top: $space-md;
}

.margin-top-lg {
  margin-top: $space-lg;
}

.margin-top-sm {
  margin-top: $space-sm;
}

.margin-horizontal-xs {
  @include margin-horizontal($space-xs);
}

.margin-horizontal-sm {
  @include margin-horizontal($space-sm);
}

.margin-horizontal-md {
  @include margin-horizontal($space-md);
}

.margin-horizontal-lg {
  @include margin-horizontal($space-lg);
}

.margin-horizontal-xlg {
  @include margin-horizontal($space-xlg);
}

.margin-vertical-md {
  @include margin-vertical($space-md);
}

.margin-vertical-xs {
  @include margin-vertical($space-xs);
}

.line-height-24 {
  line-height: 24px;
}

.line-height-42 {
  line-height: 42px;
}

.line-height-normal {
  line-height: normal;
}

@include media-breakpoint-down(sm) {
  .padding-horizontal-lg {
    padding-left: 20px;
    padding-right: 20px;
  }
}
