// Variables
$primary-color: #d35266;
$primary-dark: #888;
$secondary-color: #383838;
$font-primary: "Gotham Bold";
$font-primary-2: "Gotham Rounded Light";
$font-secondary: "Helvetica Nueue Light";
$font-secondary-2: "Helvetica Nueue Medium";
$font-secondary-3: "Helvetica Nueue Bold";
